.movie {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #eee;
}

.movie:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.02);
}

.movie-img {
  position: relative;
  border-radius: 4px;
  width: 100%;
  padding-bottom: 150%;
  height: auto;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #eee;
}

.movie-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  width: 85%;
}

.movie h2 {
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
  width: 100%;
}

.movie p {
  font-size: 0.9rem;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  color: grey;
  padding-top: 5px;
}
