.movie-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 590px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .movie-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
