.search-input-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border 0.3s ease-in-out;
}

.input-field:focus {
  outline: none;
  border: 1px solid #b3b3b3;
}

@media (min-width: 768px) {
  .input-field {
    width: 70%;
  }
}
