.movie-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 430px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 166.5px);
}
.no-results {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}
